

@font-face {
    font-family: "hiragino sans gb";
    src: url('../fonts/Hiragino Sans GB W6.ttf');    
}

@font-face {
    font-family: "arial rounded mt" , arial;
    src: url('../fonts/arlrdbd.ttf');
}

/*@import url("https://db.onlinewebfonts.com/c/3b2646a48566403a55f62ceddbecbe18?family=Hiragino+Sans+GB");*/

body {
    /*font-family: 'Noto Sans', sans-serif;*/
    font-family: "Hiragino Sans GB"
}

.logo img {
    width: 110px !important;
}

.logo a:hover {
    text-decoration: none;
}

.logotext {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #000 !important;
    letter-spacing: 0.5px;
    font-family: arial rounded mt;
}

.navBg {
    background-color: #303E92;
}

.nav-link {
    color: #fff !important;
    font-size: 18px;
    font-weight: 600;
}

ul.navbar-nav li {
    margin-right: 25px;
}


ul.navbar-nav li a {
    font-family: "arial rounded mt";
}

.pinkText {
    color: #B70054 !important;
}

.pinkBg {
    background-color: #B70054 !important;
}

.donateButton button {
    background-color: #B70054;
    border: none;
    color: #fff;
    padding: 8px 14px;
    outline: none;
    font-family: "arial rounded mt" , arial;
}


.card .card-title {
    font-size: 20px;
    font-family: "arial rounded mt", arial;
    color: #0D1067;
}

.card .card-text {
    font-size: 10px;
    padding: 10px 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 16;
}

.sticky + .content {
  padding-top: 60px;
}

.lightBlueBg {
    background-color: rgba(183,193,249,0.12);
}

.darkBlueBg {
    background-color: #313A92;
}

.card {
    border: none !important;
}


.overLayGreen {
    width: 100%;
    height: 100%;
    background-color: #8ec63d;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    z-index: 1;
    overflow: auto;
}

.overLayOrange {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(213, 85, 6,1);
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.overLayBlue {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 126, 167,0.78);
    opacity: 0.5;
    filter: alpha(opacity=50);
}



.subFooter a{
    color:#fff !important;   
}

.overlayTop {
    position: absolute !important;
    z-index: 1 !important;
}

.card-body.overlayTop {
    color: #fff !important;
}

.social {
}

.social ul{
    padding:0px;
    list-style-type:none;
    margin: 0;
}

.social ul li{
    float:left;
    display:inline-block;
        margin-left: 8px;
}

.carousel {
    max-height: 500px;
    min-height: 500px;
    overflow: hidden;
}

.img-hover-zoom {
    background: #ffffff;
    height: 260px;
    overflow: hidden;
    border: 0px solid rgba(255, 255, 255, .05);
}

    /* [2] Transition property for smooth transformation of images */
    .img-hover-zoom img {
        transition: transform .5s ease;
    }

    /* [3] Finally, transforming the image when container gets hovered */
    .img-hover-zoom:hover img {
        transform: scale(1.5);
    }

.border-bottom {

}
.card {
    border-bottom: 5px solid transparent !important;
}
.card:hover {
    border-bottom: 5px solid #303E92 !important;
}

.featured .card:hover {
    border: none !important;
}

.p-absolute {
    position: absolute;
}

.p-relative {
position:relative;
}


.carousel-caption1 {
    z-index: 1;
    max-width: 360px;
    margin-top: 10px;
    margin-left: 20px;
}

.carousel-caption1 h4 {
    background-color: #CE0101;
    color: #fff;
    font-family: "arial rounded mt" , arial;
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    padding: 10px 15px;
}

.carousel-caption1 p {
    background-color: #000;
    color: #fff;
    font-family: "arial rounded mt" , arial;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 38px; margin:0;
}


.dropdown-item:hover {
    background-color: #4953b5;
}


.dropdown-menu.navBg a {
padding-left:10px;

}



.formHead {
    font-family: "arial rounded mt" , arial;
}

.formHead h3 {
    font-size: 52px;
    line-height: 55px;
}

.rightBox {
}

.rightBox p {
    text-align: justify;
    font-size: 12px;
    line-height: 25px;
        font-family: arial;
    font-weight: 600;
}

.smallText {
font-size: 10px;
}

.notes h5 {
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 25px;
    font-family: arial;
    font-weight: 600;
}

.notes p {
    margin-top: 20px;
    font-size: 18px;
    font-family: arial;
    font-weight: 300;
}


.blacktext {
    color:#333 !important;
}

.nav-tabs .nav-link {
    border: 0px solid transparent !important;
    
}


.nav-tabs .nav-items a {
    color: #333 !important;
}

.nav-item a.nav-link.blackText {
    color: #333 !important;
}

.nav-item a.nav-link.blackText.active {
    color: #b70054 !important;
    border-bottom: 4px solid #B70054 !important;
}

.nav-item a.nav-link.blackText.active {
    margin-bottom: -1px;
    border-bottom: 4px solid #B70054;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.nav-tabs {
    border-bottom: none;
}

.priceBox {
    color: #999;
    font-weight: 700;
    
    line-height: 1;
    display: block;
    padding: 9px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 0;
    position: relative;
}

.priceBox small{
    font-weight: normal;
    font-size: 10px;

}


.priceBox.active{
    background-color:#B70054;
    color:#fff;
}

.nav-tabs .nav-item a.nav-link:hover {
    
    border-color: transparent;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: red;
}

a.nav-link.blackText {
    border-bottom: 4px solid #eaeaea !important;
}


.priceBox .custom-radio {
    display: inline-block;
    height: 100%;
    width: 20px;
    /*margin-bottom: 30px;*/
}

.enterAmount {
    float: left;
    width: 100%;
    padding: 10px;
}


select.custom-select {
    border-radius: 2px;
    border-color: #a9a9a9;
    height: 45px;
}


.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.custom-checkbox .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #b70054 !important;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.featured .card-title {
    color: #fff;
    font-size: 32px;
}

.featured .card-text {
    color: #fff;
    font-size: 16px;
}


.subFooter {
    font-size: 14px !important;
}

Footer {
    font-size: 14px !important;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575px) {

    .logo {
    }

        .logo img {
            width: 70px !important;
        }

    .logotext {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .carousel {
        max-height: 200px;
        min-height: 200px;
        overflow: hidden;
    }

    .carousel-caption1 {
        max-width: 170px;
    }

        .carousel-caption1 h4 {
            font-size: 18px;
        }

        .carousel-caption1 p {
            font-size: 16px;
        }

    .formHead h3 {
        font-size: 35px;
        line-height: 35px;
    }

    .tabs a.nav-link {
        font-size: 12px;
    }

    .notes h5 {
        font-size: 14px;
        margin-bottom: 25px;
        margin-top: 20px;
        font-family: arial;
        font-weight: 600;
        line-height: 20px;
    }

    .notes p {
        margin-top: 10px;
        font-size: 14px;
        font-family: arial;
        font-weight: 300;
    }

    .subFooter {
        font-size: 12px !important;
        line-height: 28px;
    }

    footer {
        font-size: 12px !important;
        line-height: 30px;
    }

}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 991px) {

    .formHead h3 {
        font-size: 35px;
        line-height: 35px;
    }

    .tabs a.nav-link {
        font-size: 12px;
    }

    .img-hover-zoom {
        height: 150px;
    }

    .featured .overlayTop .card-title {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .featured .overlayTop .card-text {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .card-body.overlayTop {
        padding: 10px;
        margin-top: 0 !important;
    }

    .carousel {
        max-height: 400px;
        min-height: 400px;
        overflow: hidden;
    }

    .card .card-title {
        font-size: 20px;
        font-weight: bold;
    }

    .card .card-text {
        font-size: 12px;
        font-weight: normal;
    }

    .notes p {
        
        font-size: 12px;
        font-family: arial;
        font-weight: 300;
    }

    .notes h5 {
        font-size: 14px;
        margin-bottom: 15px;
        margin-top: 9px;
        font-family: arial;
        font-weight: 600;
    }

    .rightBox p {
        font-size: 12px;
        line-height: 20px;
        font-weight: normal;
    }


    footer {
        font-size: 10px !important;
    }

    .subFooter {
        font-size: 10px !important;
    }

    .social ul li img {
        max-width: 100%;
        width: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

